/* Styling for table in dsa/leetcode.md */

table.ps-ex1 > tbody > tr:nth-child(1) > td:nth-child(3),
table.ps-ex1 > tbody > tr:nth-child(1) > td:nth-child(4),
table.ps-ex1 > tbody > tr:nth-child(1) > td:nth-child(5),
table.ps-ex1 > tbody > tr:nth-child(1) > td:nth-child(6) {
  background-color: var(--color-admonition-title-background--caution);
}

table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(2),
table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(3) {
  background-color: var(--color-admonition-title-background--error);
}

table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(4),
table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(5),
table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(6),
table.ps-ex1 > tbody > tr:nth-child(2) > td:nth-child(7) {
  background-color: var(--color-admonition-title-background--tip);
}

/* KaTeX */

.katex-display {
  margin: 0 !important;
}
